<!DOCTYPE html>
<html>
<head>
    <title>Ordini</title>
    <script>
        const theme = localStorage.getItem("theme");
        if (theme === "light") {
            document.documentElement.setAttribute("data-theme", "light");
        } else {
            document.documentElement.setAttribute("data-theme", "dark");
        }
    </script>
    <link rel="stylesheet" href="/static/css/palette.css" />
    <link rel="stylesheet" href="/static/css/advisors_homepage.css" />
</head>
<body>
    <div class="container">
        <h1 class="page-title">Elenco Ordini</h1>

        <div class="table-wrapper">
            <table class="orders-table">
                <thead>
                    <tr>
                        <th>ID Ordine</th>
                        <th>Descrizione</th>
                        <th>Data</th>
                        <th>Stato</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.description }}</td>
                        <td>{{ order.get_date() }}</td>
                        <td class="status-cell" style="background-color: {{ order.get_bg_color() }};">
                            {{ order.get_status() }}
                        </td>
                        <td class="actions-cell">
                            {% if order.confirmed == false %}
                                <form action="/orders/{{ order.id }}/edit" class="inline-form action" method="get">
                                    <button type="submit">Edit</button>
                                </form>
                                <form action="/orders/{{ order.id }}/confirm" method="post" class="inline-form action">
                                    <button type="submit" class="button">Mark as confirmed</button>
                                </form>
                            {% else %}
                                <form action="/orders/{{ order.id }}/unconfirm" method="post" class="inline-form action">
                                    <button type="submit" class="button">Mark as unconfirmed</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <hr>

        <div>
            <a href="/home" class="button">Go back to advisors area</a>
        </div>

    </div>
</body>
</html>