<!DOCTYPE html>
<html>
<head>
    <title>Dettagli Ordine</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/edit_order.css" />
    <script src="/static/js/edit_order.js"></script>
</head>
<body>
    <h1 class="page-title">Dettagli Ordine #{{ order.id }}</h1>

    <form action="/orders/{{ order.id }}/edit/submit" method="post" class="order-form">
        <div class="form-row">
            <label for="description">Descrizione:</label>
            <input type="text" id="description" name="description" value="{{ order.description }}" required>
        </div>

        <p class="order-info"><strong>Data:</strong> {{ order.get_date() }}</p>

        <div class="form-row">
            <label for="area_division">Divisione:</label>
            <input type="text" id="area_division" name="area_division" value="{{ order.area_division }}">
        </div>

        <div class="form-row">
            <label for="area_sub_area">Sub-area:</label>
            <input type="text" id="area_sub_area" name="area_sub_area" value="{{ order.area_sub_area }}">
        </div>

        <p class="order-info"><strong>Stato:</strong>
            {% if order.confirmed %}
                Confermato
            {% else if order.ready %}
                Pronto
            {% else %}
                In preparazione
            {% endif %}
        </p>

        <h3 class="section-title">Articoli</h3>
        <div id="items-container"></div>

        <script>
            {% for item in items %}
            addItemEntry(
                "{{ item.proposal}}",
                "{{ item.project}}",
                "{{ item.manifacturer}}",
                "{{ item.manifacturer_pn}}",
                {{ item.quantity }}
            );
            {% endfor %}
        </script>

        <button type="button" class="button add-button" onclick="addItemEntry()">➕ Aggiungi Articolo</button><br><br>

        <button type="submit" class="button submit-button">✅ Aggiorna Ordine</button>
    </form>
    <hr>
    <h2 class="section-title">Azioni</h2>

    <div class="actions">
        <form action="/home" method="get" class="inline-form">
            <button type="submit" >🏠 Torna alla Home</button>
        </form>
        <form action="/orders/{{ order.id }}/edit/generate-bom" method="post" class="inline-form">
            <button type="submit">📄 Generate BOM</button>
        </form>
        <form action="/orders/{{ order.id }}/edit/download-bom" method="post" class="inline-form">
            <button type="submit">⬇️ Download BOM</button>
        </form>
    </div>
</body>
</html>