{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/palette.css" />
{% endblock %}

{% block content %}
<h1>Reset Password</h1>

<form action="/reset-password" method="post">
    <input type="hidden" name="token" value="{{ token }}">

    <div class="form-row">
        <label>New Password:</label><br>
        <input type="password" name="new_password" style="background-color: var(--bg); border: 3px solid var(--border-muted); color: var(--text);" required>
    </div>

    <br>
    <button type="submit">Change Password</button>
</form>
{% endblock %}