<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
<link rel="stylesheet" href="/static/css/palette.css" />
</head>
    <body>
    <h1>Reset Password</h1>
    <form action="/reset-password" method="post">
        <input type="hidden" name="token" value="{{ token }}">
        <label>New Password:</label><br>
        <input type="password" name="new_password" style="background-color: var(--bg); border: 3px solid var(--border-muted); color: var(--text);"><br><br>
        <button type="submit">Change Password</button>
    </form>
    </body>
</html>